html {
    width: 100%;
}

body {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.molecule-wrapper {
    margin-top: 1em;
    padding: 1em; 
    border: 1px solid black;
    border-radius: 10px;
}

.molecule-properties {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.molecule-properties span {
    font-weight: 500;
}

.search-wrapper {
    width: 70%;
}

.options-wrapper {
    padding: 0.3em;
    margin: 0 0.5em 0 0.5em;
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
}

.options-wrapper label {
    font-size: 0.8em;
}

.options-wrapper input[type="number"] {
    /* width: 30%; */
    font-size: 0.9em;
    width: 3em;
    float: right;
}

#smiles-form {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#smiles-form input[type="text"] {
    width: 100%;
}

#smiles-form input[type="submit"] {
    margin-left: 0.5em;
}

#content {
    display: flex;
    flex-direction: row;
}

#title {
    margin-bottom: 1em;
}

#error-message {
    color: #e74c3c;
}

#molecule-svg {
    overflow: hidden;
}

@media screen and (max-width: 740px) {
    main {
        width: 100%;
    }
    #smiles-form {
        flex-direction: column;
    }
    #smiles-form input[type="submit"] {
        width: 100%;
        margin: 0.5em 0 0 0;
    }
}

@media screen and (min-width: 740px) {
    main {
        width: 60%;
    }
}