<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molecular Properties</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="static/error.js" type="module"></script>
    <script src="static/molecule.js" type="module"></script>
    <script src="static/options.js" type="module" defer></script>
    <script src="static/app.js" type="module" defer></script>
</head>
<body>
    <h3 id="title">Get Molecular Properties From SMILES</h3>
    <main id="content">
        <div class="search-wrapper">
            <div class="form-wrapper">
                <form id="smiles-form">
                    <input type="text" id="smiles-input" placeholder="Enter SMILES" value="OCCc1c(C)[n+](cs1)Cc2cnc(C)nc2N" name="smiles">
                    <input type="submit"value="Submit">
                </form>
                <small id="error-message"></small>
            </div>
            <div class="hidden molecule-wrapper">
                <h4>Results</h4>
                <div id="molecule-svg"></div>
                <div class="molecule-properties">
                </div>
            </div>
        </div>
        <div class="options-wrapper">
            <h5>Options</h5>
            <form id="search-options">
                <div class="option-item">
                    <label for="precision">Precision</label>
                    <input type="number" name="precision" id="float-precision" value="6">
                </div>
            </form>
        </div>
    </main>
</body>
</html>